In [3]:
import mlflow
import pandas as pd
import mlflow.sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pandas as pd
import re
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import numpy as np

In [4]:
df = pd.read_csv('IMDB.csv')
df = df.sample(500)
df.to_csv('data.csv', index=False)
df.head()

                                                review sentiment
978  My mother forced me to watch this movie with h...  negative
148  Principally it is the story of two men who wer...  positive
164  In terms of the arts, the 1970s were a very tu...  positive
658  If you decide to watch Wild Rebels, don't expe...  negative
990  In this forgettable trifle, the 40-ish Norma S...  negative

In [5]:
# data preprocessing

# Define text preprocessing functions
def lemmatization(text):
    """Lemmatize the text."""
    lemmatizer = WordNetLemmatizer()
    text = text.split()
    text = [lemmatizer.lemmatize(word) for word in text]
    return " ".join(text)

def remove_stop_words(text):
    """Remove stop words from the text."""
    stop_words = set(stopwords.words("english"))
    text = [word for word in str(text).split() if word not in stop_words]
    return " ".join(text)

def removing_numbers(text):
    """Remove numbers from the text."""
    text = ''.join([char for char in text if not char.isdigit()])
    return text

def lower_case(text):
    """Convert text to lower case."""
    text = text.split()
    text = [word.lower() for word in text]
    return " ".join(text)

def removing_punctuations(text):
    """Remove punctuations from the text."""
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = text.replace('Ø›', "")
    text = re.sub('\s+', ' ', text).strip()
    return text

def removing_urls(text):
    """Remove URLs from the text."""
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

def normalize_text(df):
    """Normalize the text data."""
    try:
        df['review'] = df['review'].apply(lower_case)
        df['review'] = df['review'].apply(remove_stop_words)
        df['review'] = df['review'].apply(removing_numbers)
        df['review'] = df['review'].apply(removing_punctuations)
        df['review'] = df['review'].apply(removing_urls)
        df['review'] = df['review'].apply(lemmatization)
        return df
    except Exception as e:
        print(f'Error during text normalization: {e}')
        raise

<>:32: SyntaxWarning: invalid escape sequence '\s'
<>:32: SyntaxWarning: invalid escape sequence '\s'
C:\Users\asus\AppData\Local\Temp\ipykernel_21112\3798096103.py:32: SyntaxWarning: invalid escape sequence '\s'
  text = re.sub('\s+', ' ', text).strip()

In [6]:
df = normalize_text(df)
df.head()

                                                review sentiment
978  mother forced watch movie her apparently watch...  negative
148  principally story two men part portuguese revo...  positive
164  term art s turbulent era literature visual art...  positive
658  decide watch wild rebel expect anything deep m...  negative
990  forgettable trifle ish norma shearer play flut...  negative

In [7]:
df['sentiment'].value_counts()

sentiment
negative    252
positive    248
Name: count, dtype: int64

In [8]:
x = df['sentiment'].isin(['positive','negative'])
df = df[x]

In [9]:
df['sentiment'] = df['sentiment'].map({'positive':1, 'negative':0})
df.head()

                                                review  sentiment
978  mother forced watch movie her apparently watch...          0
148  principally story two men part portuguese revo...          1
164  term art s turbulent era literature visual art...          1
658  decide watch wild rebel expect anything deep m...          0
990  forgettable trifle ish norma shearer play flut...          0

In [10]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [11]:
vectorizer = CountVectorizer(max_features=100)
X = vectorizer.fit_transform(df['review'])
y = df['sentiment']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [13]:
import dagshub

mlflow.set_tracking_uri('https://dagshub.com/dhirajpawar2508/Capstone-Project.mlflow')
dagshub.init(repo_owner='dhirajpawar2508', repo_name='Capstone-Project', mlflow=True)

# mlflow.set_experiment("Logistic Regression Baseline")
mlflow.set_experiment("Logistic Regression Baseline")

Accessing as dhirajpawar2508

Initialized MLflow to track repo "dhirajpawar2508/Capstone-Project"

Repository dhirajpawar2508/Capstone-Project initialized!

2025/11/06 14:39:29 INFO mlflow.tracking.fluent: Experiment with name 'Logistic Regression Baseline' does not exist. Creating a new experiment.

<Experiment: artifact_location='mlflow-artifacts:/6021d22bbb1b4f0d9ab0514c2ac52ac9', creation_time=1762420170377, experiment_id='0', last_update_time=1762420170377, lifecycle_stage='active', name='Logistic Regression Baseline', tags={}>

In [1]:
import os
print(os.getenv("DAGSHUB_USER_TOKEN"))

None

In [2]:
import os
print(os.getenv("DAGSHUB_USER_TOKEN"))

None